.nav {
  display: flex;
  height: 2em;
  margin-top: 0;
  background-color: #00000033;
}

.nav a {
  display: inline-block;
  margin: auto;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.nav a:hover {
  opacity: .4;
  text-decoration: underline;
}
